// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '/resources/sass/partials/_MyProfile';


.my-header {
    background-color: #141913;
    box-shadow: 0.5rem 0.25rem 0.25rem #2d362c;
}

.logo-container, .logout-container {
    max-width: 200px;
}

a {
    color:  #95f50f !important;
}
