// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '/resources/sass/partials/_myProfile';
@import '/resources/sass/partials/_myEditProfile';


body{
    font-family: 'Teko', sans-serif;
}

.my-header {
    background-color: #141913;
    box-shadow: 0.5rem 0.25rem 0.25rem #2d362c;
}

.logo-container, .logout-container {
    max-width: 200px;
}

.header-link {
    color:  #95f50f !important;
}

.logout-link {
    color: #141913;
}

.logout-dropdown {
    background-color: #95f50f;
}
