.login {
    margin-top: 50px;
    font-size: 20px;
    border: #141913 solid 1px;
    box-shadow: 0.15rem 0.15rem 0.25rem #141913;

    .login-header {
        background-color: #141913;
        color: #95f50f;
    }

    .login-body {
        background-color: #95f50f;
        color: #141913;
    
        .btn-login {
            font-size: 20px;
            width: 100px;
            background-color: #141913;
            color: #95f50f;
    
            &:hover {
                background-color: #090908;
                box-shadow: 0.15rem 0.15rem 0.25rem #31372c;
                color: #95f50f;
            }
        }

    }

}