.edit {
    border: 2px solid #141913;
    border-radius: 10px;
    padding: 20px;

    .cover-container, .cv-container {
        width: 150px;
        height: 150px;
        overflow: hidden;
        display: block;
        margin: 0 auto;
    }
    
    label, h4 {
        font-size: 20px;
    }
    
    .input {
        width: 400px;
        text-transform: capitalize;
    }
    
    .skills-container {
        padding-left: 77px;
    }
    
    .skills {
        margin-right: 20px;
    }
    
    .my-btn {
        background-color: #141913;
        color: #95f50f;
        width: 150px;
        height: 50px;
    }
    
    .my-btn:hover {
        background-color: #090908;
        box-shadow: 0.15rem 0.15rem 0.25rem #31372c;
        color: #95f50f;
    }

}