
body {

    .my-container {
        height: 100%;
        background-color: #141913;

        h1, h2, h3 {
            font-weight: 800;
        }

        .data-container {
            background-color: #6ed433;
        }

        h1, h2, h3 {
            color: #141913;
        }
    
        h5, h6 {
            color: #606060;
        }
        .cover-container, .cv-container {
            width: 200px;
            height: 200px;
            display: block;
            margin: 0 auto;
        }

        .cover-container {
            overflow: hidden
        }

        .skill-container {
            width: 40px;
            height: 25px;
            background-color: #141913;
            border-radius: 5px;
            color: #95f50f;
            text-align: center;
            line-height: 25px;
            font-size: 15px;
        }

        .my-btn {
            width: 80px;
            height: 80px;

            .my-icon {
                font-size: 30px;
            }
        }

        .edit-btn {
            background-color: #95f50f;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #6ed433;
                box-shadow: 0.15rem 0.15rem 0.25rem #e0ffc2;
            }

            .edit-icon{
                color: #141913 !important;
            }
            
        }

        .delete-btn:hover {
            box-shadow: 0.15rem 0.15rem 0.25rem #d17976;
        }

    }
    
}
