
body {

    .my-container {
        height: 100%;
        background-color: #141913;
        box-shadow: 0.5rem 0.5rem 0.25rem #3c4d3a;

        h1, h2, h3 {
            font-weight: 800;
            color: #141913;
        }

        .data-container {
            background: rgb(45,181,124);
            background-image: linear-gradient(50deg, rgba(45,181,124,1) 0%, rgba(149,245,15,1) 13%, rgba(31,208,43,1) 91%, rgba(56,192,113,1) 100%);
        }

        h5, h6 {
            color: #606060;
        }
        .cover-container, .cv-container {
            width: 200px;
            height: 200px;
            display: block;
            margin: 0 auto;
        }

        .cover-container {
            overflow: hidden
        }

        .box {
            min-width: 80px;
            height: 35px;
            background-color: #141913;
            border-radius: 5px;
            color: #95f50f;
            text-align: center;
            line-height: 35px;
            font-size: 20px;
            padding: 0 4px 0 4px;
        }

        .my-btn {
            width: 80px;
            height: 80px;

            .my-icon {
                font-size: 30px;
            }
        }

        .edit-btn {
            background-color: #95f50f;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #6ed433;
                box-shadow: 0.15rem 0.15rem 0.25rem #e0ffc2;
            }

            .edit-icon{
                color: #141913 !important;
            }
            
        }

        .delete-btn:hover {
            box-shadow: 0.15rem 0.15rem 0.25rem #d17976;
        }

    }
    
}
